@for (player of game?.players; track $index) {
<app-player class="player-position" [ngStyle]="{'top.px': 100 + ($index * 95)}" 
[playerActive]="$index == game?.currentPlayer"
[name]="player"></app-player>
}
<div class="field">
    <div class="card-stack">
        <!-- card deck -->
        @for(c of [0,1,2,3]; track c) {
        <img src="images/cards/card_cover.png" [ngStyle]="{'right.px': $index * 5}">
        }
        <!-- top card cover -->
        <img src="images/cards/card_cover.png" class="top-card" style="right: 25px" (click)="takeCard()">
        <!-- deck of selected cards -->
        @for(c of game?.playedCards; track c) {
        <img src="images/cards/{{ c }}.png" class="played-card" alt="">
        }
        <!-- card animation -->
        @if(pickCardAnimation){
        <img src="images/cards/{{ currentCard }}.png" class="pick-card" style="right: 25px" (click)="takeCard()">
        }
    </div>
</div>
<app-game-info class="pin-bottom" [card]="currentCard"></app-game-info>
<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
