.field {
    width: 100%;
    height: 100dvh;
    max-width: 100%;
    background-image: url('/images/field/field_bg_2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >.card-stack {
        position: relative;

        img {
            position: absolute;
            width: 120px;
        }

    }
}

.top-card {
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
        scale: 1.1;
        transform: translateY(-10px);
    }
}

.played-card {
    right: 25px;
    scale: 1.3;
    transform: translateX(120px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out forwards;
}

@keyframes pick-card-animation {
    0% {
        scale: 1;
    }

    30% {
        scale: 1.7;
    }

    50% {
        scale: 1.7;
    }

    100% {
        scale: 1.3;
        transform: translateX(120px) translateY(-180px) rotate(-10deg);
    }
}

.player-position{
    position: absolute;
    right: 0;
    z-index: 10;
}

.btn-add{
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.pin-bottom{
    position: absolute;
    bottom: 50px;
    left: 100px;
    right: 120px;
}